@media (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}

/* Small screens (phones: up to 767px) */
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

/* Desktop styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  z-index: 99;
  transition: background 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav.color {
  background: #fff;
}

/* Hides close and nav menu on desktop */
.menu.close,
.nav-list ul {
  display: none;
}


/* Service Content */
@media (max-width: 768px) {
  .service-content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 100%;
    padding: 50px 0;
  }

  .service-content h1 {
    text-align: center;
  }

  .service-content.work h1 {
    text-align: center;
  }

  .service-content p {
    text-align: center;
  }

  .service-content.work {
    display: flex;
    flex-direction: column;
  }

  .service-content.work {
    flex-direction: column-reverse;
  }

  .service-content.work p::after,
  .service-content p::before {
    background: transparent;
  }
}

/* Tesimonial */

/* Mobile Responsive */
@media (max-width: 767px) {
  .testimonial {
    padding: 0;
  }

  .carousel-caption {
    padding: 3rem 2rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }

  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }

  #image-caption {
    font-size: 0.6rem;
  }
  footer{
    padding: 40px 0 30px 0;
  }

  footer .footer-logo p {
    padding-left: 0px;
  }
}

/* =========================== */
/* Responsive Styles */
/* =========================== */

@media (max-width: 768px) {
  .nav-items .nav-list ul {
    display: none;

  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: #fff;
    text-align: center;
    transform: scaleY(0);
    transform-origin: top;
    /* Add this for better effect */
    transition: transform 0.3s ease;
    /* <-- Moved here */
  }

  .mobile-menu.open {
    transform: scaleY(1);
  }

  .mobile-menu ul {
    margin: 0;
    padding: 0;

  }

  .mobile-menu ul li {
    text-align: center;
    padding-bottom: 20px;
  }

  .mobile-drop-down-list {
    padding: 10px 0 !important;
    transition: transfrom 0.3s ease;
    display: none;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
  }

  .mobile-drop-down-list.open {
    display: block;
    max-height: 500px;
    transform: scaleY(1);
  }

  .drop-down-list {
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background: unset;
    backdrop-filter: unset;
    box-shadow: unset;
    top: 100px;
    gap: 10px !important;
    padding: 20px 0 !important;
    z-index: 1;
    opacity: 0;
    overflow: hidden;

  }

  .menu.toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  #home {
    padding: 100px 0 80px 0;
  }

  .hero-img img {
    max-width: 250px;
  }

  .hero-content {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .hero-text {
    text-align: center;
  }

 #subscribeForm input::placeholder {
    text-align: center;
    padding: 0;
  }

  #subscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }


  .whats-app a {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .contact-form {
    min-width: 200px;
    margin: 50px 0 0 0;
  }

  .display {
    padding: 100px 0 50px 0;
  }

  .service-page {
    padding: 50px 0 0 0;
  }
}

/* =========================== */
/* Responsive Styles */
/* =========================== */